.container {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;

}
.drop_container {
    width: 60%;
    height: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    row-gap: 1rem;

}

/*---------------------------- DRAG AND DROP ----------------------------*/



.drop_indicator {
    background-color: var(--primary-faded);
    height: 5px;
    border-radius: var(--radius-2);
    width: 100%;
}
.drop_indicator_active {
    background-color: greenyellow;
}

.drop_group{
    display: flex;
    flex-direction: column;
   row-gap: 10px;


}
.drop_item {
    background-color: rgba(91, 91, 91, 0.38);
    border-radius: 30px;
    padding: 10px;

}

.item_active {
    background-color: yellow;
}

.deleteBucket {
    width: 60%;
    color: red;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*right: 50%;*/
    z-index: 999999;
    transform: translateX(50%);
    background-color: rgba(255, 0, 0, 0.21);
    border: 1px solid red;
    cursor: pointer;
}

.deleteBucket_active {
    background-color: red;
    color: white;
}


/* Add a class to visually indicate dragging without affecting opacity */
.dragging {
    border-color: blue;
} pul