/* ----------------------------- SINGLE INPUT  ---------------------------- */
.drag_item_container {
    position: relative;

}


.drag_item {
    letter-spacing: 1.2px;
    background-color: var(--card-light);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 100px;
    box-shadow: var(--shadow-black);
    border: 1px solid var(--border-light);
}

.drag_item span {
    font-size: 1.3rem;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
}

.drag_item svg {
    width: 1.6rem;
    height: 1.6rem;
    color: #b1b1b1;
}


.drag_item_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;

}

.isDragging {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: var(--shadow-1);
    color: #ffffff;
}