.iconButton_Container {
    display: flex;
    column-gap: 4px;
}

.iconButton {
    background-color: transparent;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    padding: 2px;

}


.iconButton > svg {
    width: 1.8rem;
    height: 1.8rem;
    color: var(--muted-foreground)
}
.iconButton:hover {
    background-color: var(--secondary);
}