* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
}
:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(222.2, 84%, 4.9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(222.2, 84%, 4.9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(222.2, 84%, 4.9%);
  --primary: hsl(222.2, 47.4%, 11.2%);
  --primary-foreground: hsl(210, 40%, 98%);
  --secondary: hsl(210, 40%, 96.1%);
  --secondary-foreground: hsl(222.2, 47.4%, 11.2%);
  --muted: hsl(210, 40%, 96.1%);
  --muted-foreground: hsl(215.4, 16.3%, 46.9%);
  --accent: hsl(210, 40%, 96.1%);
  --accent-foreground: hsl(222.2, 47.4%, 11.2%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(210, 40%, 98%);
  --border: hsl(214.3, 31.8%, 91.4%);
  --input: hsl(214.3, 31.8%, 91.4%);
  --ring: hsl(222.2, 84%, 4.9%);
  --radius: 0.5rem;
    --shadow-1:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /*Text*/
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
    --text-md: 1.6rem;
    --text-lg: 1.8rem;
    --text-xl: 2rem;
}



#root_modal {
  blackground-color: rgba(0, 0, 0, 0.5);
}
.create_new_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.create_new_form {
  width: 500px;

}

.iconButton {
  background-color: var(--secondary);
}

.iconButton:hover {
}
@layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }